---
layout: default
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="author">
      {{ page.author }}
    </span>

    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.AES %}
    <div class="AES_decrypt">
      <hr>
      <h3 style="margin: 5px">AES 解密器</h3>
      <textarea id="encryptOrDecriptMessage" readonly="readonly" style="display:none">
        {{ page.AES }}
      </textarea>
      <div class="keys">
        <input type="password" class="pwInput" id="key_1" placeholder="密钥1">
        <input type="password" class="pwInput" id="key_2" placeholder="密钥2">
        <input type="password" class="pwInput" id="key_3" placeholder="密钥3">
        <p>
          <input type="checkbox" id="pwShow" value="pwShow">
          <label for="pwShow">是否明文显示密钥</label>
         </p>
        <script>        
          function checkPWShow() 
          {            
            document.getElementById("pwShow").onclick = function () {                
              var arr = new Array();                
              var items = document.getElementsByName("pwShow");                 
              if (document.getElementById("pwShow").checked) {
                document.getElementById("key_1").type="text";
                document.getElementById("key_2").type="text";
                document.getElementById("key_3").type="text";
              }
              else
              {
                document.getElementById("key_1").type="password";
                document.getElementById("key_2").type="password";
                document.getElementById("key_3").type="password";
              }
            };        
          };
          checkPWShow();    
        </script>
      </div>
      <div class="buttonsContainer">
      <input class="nbutton" type="button" value="解密" onclick="decrypt()">
      </div>
      <p style="margin: 5px" id="result">待解密</p>
    </div>
  {% endif %}

  {% include clickable-image.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>

<dic class="comment">
  {% include disqus.html %}
  {% include gitalk.html %}
</div>
